{#
/**
 * @file
 * Default theme implementation to display profile.
 *
 * Available variables:
 * - foo: Foo variable description.
 *
 * @see template_preprocess_profile()
 *
 * @ingroup themeable
 * {{ devel_dump(profile) }}
 */
#}

<div class="row" style="text-align: center; margin-top: 1em; border-bottom: 4px solid #aaa;">

  <img src="{{ profile.banner }}" alt="banner" style="max-width: 80%;" />

  <div class="col-sm-5" style="margin: 1em; padding: 1em;">
    <img src="{{ profile.avatar }}" alt="banner" style="max-width: 160px; border-radius: 90px;" />
  </div>

  <div class="col-sm-5" style="margin: 1em 0; padding: 1em 0; text-align: left;">
    <h2>{{ profile.displayName }}</h2>
    <h4>{{ profile.handle }}</h4>
    <p>{{ profile.followers }} <a href="/skyblue/followers">Followers</a>&nbsp;
       {{ profile.follows }} <a href="/skyblue/following">Following</a>&nbsp; 
       {{ profile.posts }} <a href="/skyblue/posts">Posts</a></p> 
    <p>{{ profile.description }}<p>

    <nav>
    	<a href="/skyblue/feed">Feed</a>&nbsp;&nbsp;
    	<a href="/skyblue/search">Search</a>&nbsp;&nbsp;
    	<a href="/skyblue/post">Post</a>
    </nav>
   
  </div>
</div>
